{%extends "letter_tracking/base.html" %}
{% block content %}
    {% for letter in letters %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'legislator-letters' letter.patrocinador%}">{{ letter.patrocinador }}</a>
                    <small class="text-muted">{{ letter.fecha | date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title">{{ letter.title }}</a></h2>
                <p class="article-content">Tema específico: {{ letter.tema_específico }}</p>
                {% if letter.mención_directa_a_MX == 1%}
                    <p class="article-content">- Mención directa a MX</p>
                {% endif %}
                <p class="article-content">Destinatario: {{ letter.destinatario }}</p>
                <p class="article-content">Caucus: {{ letter.caucus }}</p>
                <p class="article-content">Congresistas: {{ letter.num_reps }}</p>
                <p class="article-content">Senadores: {{ letter.num_sens }}</p>
                {% if letter.observaciones %}
                <p class="article-content">Observaciones: {{ letter.observaciones }}</p>
                {% endif %}
                <p class="article-content">Notice: {{ letter.notice }}</p>
                <div> <small> <a  href="{% url 'letter-detail' letter.id%}">see more info</a></small></div>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}   
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}
