{%extends "letter_tracking/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                {% if letter.sen_author %}
                    <a class="mr-2" href="{% url 'legislator-letters' letter.patrocinador_sen.name %}">{{letter.patrocinador_sen.full_title}}</a>
                {% endif %}
                {% if letter.two_authors %}
                    <a>& </a>
                {% endif %}
                {% if letter.rep_author %}
                    <a class="mr-2" href="{% url 'legislator-letters' letter.patrocinador_rep.name %}">{{letter.patrocinador_rep.full_title}}</a>
                {% endif %}
                    <medium class="text-muted">{{ object.fecha | date:"F d, Y" }}</medium>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <div>
                <medium>
                    <b>Topic:</b> {{object.tema}}
                </medium>
            </div>
            <div>
                <medium>
                    <b>Specific Topic:</b> {{object.tema_específico}}
                </medium>
            </div>
            <div>
                <medium>
                    <b>Date: </b>{{ object.fecha | date:"F d, Y"}}
                </medium>
            </div>
            <div>
                <medium>
                    <b>Description: </b>{{ object.descripción }}
                </medium>
            </div>
            <div>
                <medium>
                    <b>Positive for Mexico: </b>{{ object.favorable_a_MX }}
                </medium>
            </div>
            <div>
                {% if object.mención_directa_a_MX == '1' %}
                <medium>
                    <b>Mexico is directly mentioned: </b>Yes
                </medium>
                {% else %}
                    <medium>
                        <b>Mexico is directly mentioned: </b>No
                    </medium>
                {% endif%}
            </div>  
            {% if letter.other_destinatario_comments %}
                <div>
                    <medium><b>Recipient:</b> {{ letter.destinatario }}- {{letter.other_destinatario_comments}}</medium>
                </div>
            {% elif object.destinatario %}
                <div>
                    <medium>
                        <b>Recipient: </b>{{ object.destinatario }}
                    </medium>
                </div>
            {% else %}
            <div>
                <medium>
                    <b>Recipient: </b>N/a
                </medium>
            </div>
            {% endif %}
            <div> 
                <medium>
                    <b>Chamber:</b> {{object.cámara}}
                </medium>
            </div>
            <div>
                <medium>
                    <b>Party: </b>{{ object.partido }}
                </medium>
            </div>
            {% if object.caucus %}
                <div>
                    <medium>
                        <b>Caucus:</b> {{object.caucus}}
                    </medium>
                </div>
            {% else %}
                <div>
                    <medium>
                        <b>Caucus:</b> N/a
                    </medium>
                </div>
            {% endif %}
            <div>
                <medium>
                    <b>Legislature:</b> {{object.legislatura}}
                </medium>
            </div>
            <div>
                <medium>
                    <b>Representatives:</b> {{object.num_reps}}
                </medium>
            </div>
            <div>
                <medium>
                    <b>Senators:</b> {{object.num_sens}}
                </medium>
            </div>
            <div>
                <medium>
                    <b>Sponsor(s):</b>
            {% if letter.sen_author %}
                {{letter.patrocinador_sen.full_title}}
            {% endif %}
            {% if letter.two_authors %}
                &
            {% endif %}
            {% if letter.rep_author %}
                {{letter.patrocinador_rep.full_title}}
            {% endif %}
                </medium>
            </div>
            <div>
                <medium>
                    <b>Cosponsor(s):</b> {{object.copatrocinador}}
                </medium>
            </div>
            <div>
                <medium> 
                    <b>Link: </b>{{object.letter_path }}
                </medium> 
            </div>
            <div>
                <medium>
                    <b>Comments:</b> {{object.observaciones}}
                </medium>
            </div>
            <div>
                <medium>
                    <b>Action:</b> {{object.acción}}
                </medium>
            </div>
            <div>
                <medium>
                    <b>Notice:</b> {{object.notice}}
                </medium>
            </div>
            <div>
                __
            </div>
                <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'letter-update' object.id%}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'letter-delete' object.id%}">Delete</a>
                </div>
        </div>
    </article>
{% endblock content %}
