{%extends "letter_tracking/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                {% if letter.sen_author %}
                    <a class="mr-2" href="{% url 'legislator-letters' letter.patrocinador_sen.name %}">{{letter.patrocinador_sen.full_title}}</a>
                {% endif %}
                {% if letter.two_authors %}
                    <a>& </a>
                {% endif %}
                {% if letter.rep_author %}
                    <a class="mr-2" href="{% url 'legislator-letters' letter.patrocinador_rep.name %}">{{letter.patrocinador_rep.full_title}}</a>
                {% endif %}
                    <small class="text-muted">{{ object.fecha | date:"F d, Y" }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.descripción }}</p>
            <div> 
                <small>
                    {% if object.posted_by == None %}
                    <b>Uploaded by: letter_admin</b>
                    {% else %}
                    <b>Uploaded by:  {{user.posted_by}}</b>
                    {% endif %}
                </small>
            </div>

            <div> 
                <small>
                    <b>Cámara:</b> {{object.cámara}}
                </small>
            </div>
            <div>
                <small>
                    <b>Tema:</b> {{object.tema}}
                </small>
            </div>
            <div>
                <small>
                    <b>Tema Específico:</b> {{object.tema_específico}}
                </small>
            </div>
            <div>
                <small>
                    <b>Caucus:</b> {{object.caucus}}
                </small>
            </div>
            <div>
                <small>
                    <b>Observaciones:</b> {{object.observaciones}}
                </small>
            </div>
            <div>
                <small>
                    <b>Acción:</b> {{object.acción}}
                </small>
            </div>
            <div>
                <small>
                    <b>Notice number:</b> {{object.notice}}
                </small>
            </div>
            <div>
                __
            </div>
            <div>
                <small> 
                    <a href="{{ object.link}}">Link to Letter</a> 
                </small> 
            </div>
            <div>
                <small> 
                    <b>File path: </b>{{object.letter_path }}
                </small> 
            </div>
            <div>
                <small>
                    <b>Copatrocinadores:</b> {{object.copatrocinador}}
                </small>
            </div>
                <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'letter-update' object.id%}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'letter-delete' object.id%}">Delete</a>
                </div>
        </div>
    </article>
{% endblock content %}
